In [2]:
import pandas as pd
import seaborn as sns

In [ ]:
def join_on_team_id(df1,df2):
    output_df = df1.merge(df2,on='TeamID', how = 'outer')
    return output_df

In [ ]:
mens_df = pd.read_csv('data/MTeams.csv')

   TeamID     TeamName  FirstD1Season  LastD1Season
0    1101  Abilene Chr           2014          2025
1    1102    Air Force           1985          2025
2    1103        Akron           1985          2025
3    1104      Alabama           1985          2025
4    1105  Alabama A&M           2000          2025